<body>
<p>  Welcome  {{ name }}, je suis agé de... {{ age }} ans </p>

<div [hidden]="show"[style.backgroundColor]="bgColor">
background de ce biding est : {{ bgColor }}</div>

<button class="btn btn-danger" (click)="changeStatus()">Allumer/éteindre</button>

</body>
<app-chil-a></app-chil-a>
<app-chil-b></app-chil-b>
<app-chil-grand></app-chil-grand>
<app-cv></app-cv>
<footer id="foot"class="row">
    <div class="col">
      <nav>
	      <p id="name">
          <strong>DIALLO THIERNO ALSENY </strong>
	      </p>
		  <a href="http://www.france-ioi.org/" class="footer"target="_blank">Website of IOI-France</a> -
		  <a href="http://www.france-ioi.org/user/perso.php?sLogin=nellyvilly"class="footer"target="_blank">
		  My IOI public profil</a>
			<br>
		  <a href="https://www.linkedin.com/in/thierno-alseny-diallo-789015131/"class="footer"target="_blank">
		  My Linkdln profil</a> -
		  <a href="https://www.sololearn.com/"class="footer" target="_blank">Learn Solo</a> -
		  <a href="https://www.wildcodeschool.com/fr-FR/"class="footer"target="_blank">Wild Code School</a>
		  <br>
		   - All rights reserved
		   - Copyright &copy; Decembre 2019
   </nav>
   </div>
</footer>
<router-outlet></router-outlet>
